
#main {
  background-image: url("./assets/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 15px 20px;
  border-radius: 10px;
  overflow: none;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 400px;
  max-height: 400px;
}

@media screen and (max-width: 480px) {
  #main {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 360px) {
  #main {
    margin-left: 1rem;
    margin-right: 1rem;    
  }
}

form {
  display: flex;
  flex-direction: column;
}

.submitBtn {
  border: none;
  background-color: rgb(27, 4, 49);
  color: white;
  margin-top: 2px;
  border-radius: 5px;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 18px;
  transition: 200ms ease-in;
  cursor: pointer;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
  font-size: x-large;
}

span {
  color: #f1cc12;
}

textarea,
input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  display: flex;
  padding: 12px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

body {
  margin : 0;
  background-color: rgb(21, 3, 37);
}
.submitBtn:hover,
.modal-close-button:hover {
  background-color: #f1cc12;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  flex-direction: column;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-close-button {
  border: none;
  background-color: rgb(27, 4, 49);
  color: white;
  margin-top: 2px;
  border-radius: 5px;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 18px;
  transition: 200ms ease-in;
  cursor: pointer;
  width: 100%;
}
